*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(46,139,87);
background: linear-gradient(159deg, rgba(46,139,87,1) 0%, rgba(64,224,208,1) 100%);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container {
    background: white;
    padding: 32px;
    width: 380px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0 0 0 0.1);
}

form{
    width: 100%;
}

h2{
    margin-bottom: 20px;
}

input {
    width: 100%;
    max-width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    display: block;
}

button {
    width: 100%;
    padding: 10px;
    background: #049b02;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background:#049b02;
}

p{
     margin-top: 15px;
     font-size: 14px;
}

a{
    color:#049b02;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}